.test-component {
    p {
      padding: 10px;
      margin: 0;
      background-color: gray;
      margin-bottom: 10px;
    }

    display: grid;
    grid-template-areas: 
    't1'
    't2'
    ;

    @media(min-width: 900px){
      grid-template-areas: 
      't1 t2'
      ;
    }

    .text1 {
      grid-area: t1;
    }
    
    .text2 {
      grid-area: t2;
    }
}