.custom-input {
  position: relative;
  background: #FBFAFA;
  border: #F2F2F2 1px solid;
  border-radius: 9px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}