* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS'), url('./../assets/fonts/threbuchet/trebuc.woff') format('woff');
}
  

@font-face {
  font-family: 'Trebuchet MS Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Trebuchet MS Italic'), url('./../assets/fonts/threbuchet/Trebuchet-MS-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchet MS Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Trebuchet MS Bold'), url('./../assets/fonts/threbuchet/TREBUCBD.ttf') format('ttf');
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgba(255, 251, 248, 1);
}

.app {
  display: flex;
	flex-direction: column;
	min-height: 100vh;
  margin: 0 auto;
}

.main-content {
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img.proportion-width {
  width: 100%;
}

img.proportion-height {
  height: 100%;
}

.popup-active {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  &.active {
    height: 100vh;
    width: 100vw;
    background: rgba(42, 42, 42, 0.65);
  }

  &-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 0;
    @media (min-width:769px) {
      margin-top: 81px;
    }
  }
}