.nav {
  font-family: 'Trebuchet MS Bold', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgba(54, 54, 54, 0.04);
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
  padding-right: 15px;

  & .search-wrapper {
    padding: 15px;
    @media (min-width: 769px) {
      display: none;
    }
  }

  @media (min-width: 1124px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__wrapper {
    display: none;
    
    @media (min-width: 769px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      max-width: 1110px;
      padding: 15px 0;
    }
  
    &__page-link .active { 
      text-decoration: underline 2px rgba(42, 42, 42, 1);
    }

    &__page-link {
      display: block;
      & a {
        text-decoration: none;
        color: rgba(42, 42, 42, 1);
      }
    
      &:hover {
        text-decoration: rgba(42, 42, 42, 1) underline 2px;
      }
    }

    & > div {
      cursor: pointer;
    }

    &__social-media-links-wrapper {
      
      a {
        padding: 5px;
      }
      
      & :hover {
        transition: linear all 0.3s;
        transform: scale(1.1);
      }
    }
    
  }
}

